main, html{
    margin: 0px auto;
}

#title{
    text-align: center;
}

#play-area{
    width: 95vw;
    height: 75vh;
    margin: auto;
    border: 1px solid black;
    cursor: url(./space\ hunt\ crosshair.png) 16 16, auto;
}